<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalCorePackages" value="C:\Users\yahya\source\repos\NTierArchitecture\CorePackages\LocalFeed" />
    <add key="LocalHateoas" value="C:\Users\yahya\source\repos\HateoasUtilityLibrary\LocalFeed" />
  </packageSources>
</configuration>
