/*--
    06. Choose Css
---------------------------*/


.course-categories-wrap {
    margin-left: -9px;
    margin-right: -9px;
    margin-top: 50px;
    @media #{$large-mobile}{
        margin-top: 20px;
    }
    @media #{$tablet-device}{
        margin-top: 25px;
    }
}
.coustom-col-2{
    min-width: 15.1%;
    margin: 0 9px;
    float: left;
    @media #{$desktop-device}{
        min-width: 31.333%;
    }
    @media #{$tablet-device}{
         min-width: 30.6%;
    }
    @media #{$large-mobile}{
        min-width: 45.5%;
    }
    @media #{$small-mobile}{
        min-width: 95%;
    }
}

.coustom-col-3 {
    width: 25%;
    float: left;
    @media #{$desktop-device}{
        min-width: 25%;
    }
    @media #{$tablet-device}{
        min-width: 50%;
    }
    @media #{$large-mobile}{
        min-width: 100%;
    }
    @media #{$small-mobile}{
        min-width: 100%;
    }
}


.single-course-categories {
    margin-top: 20px;
    padding: 15px;
    height: 180px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
    &:hover {
        & .cours-icon {
           transform: scale(1.2);
        }
    }
    
    & .cours-title {
        margin-top: 15px;
        & h5 {
            color: $white;
        }
    }
    & .cours-icon {
        @include transition(0.4s);
    }
    &-two {
        padding: 15px 20px 25px;
        border-radius: 25px 25px 0 0;
        text-align: center;
        position: relative;
        margin-top: -100px;
        z-index: 1;
         &:hover {
            & .cours-icon {
               transform: scale(1.2);
            }
        }
        @media #{$tablet-device}{
           margin-top: 100px;
        }
        @media #{$large-mobile}{
           margin-top: 80px;
        }
        & .cours-icon {
            margin-top: -65px;
            margin-bottom: 25px;
            @include transition(0.4s);
            & .coure-icon-inner {
                background: #fff;
                display: inline-block;
                height: 100px;
                width: 100px;
                line-height: 100px;
                border-radius: 100%;
            }
        }

        & .cours-title {
            margin-top: 15px;
            & h4 {
                color: $white;
                font-weight: 600;
                margin-bottom: 15px;
                @media #{$desktop-device}{
                    font-size: 20px;
                }
            }
            & p {
                color: $white;
                font-size: 14px;
            }
        }
        
    }
}

.all-course-btn {
    text-align: center;
    & .all-course {
        margin-top: 70px;
        padding: 13px 55px;
        background: $theme-color;
        text-transform: uppercase;
        font-weight: 500;
        color: $white;
        font-family: $montserrat;
        border-radius: 5px;
        box-shadow: 0px 10px 25px rgba(255, 89, 81, 0.4);
        &:hover {
            color: $white;
            background: $dark-grey;
        }
        @media #{$large-mobile}{
            margin-top: 40px;
        }
        @media #{$tablet-device}{
            margin-top: 50px;
        }
    }
}

/*-- choose Css --*/

.should-bg {
    background: url("../images/bg/bg-01.jpg");
    background-size: cover;
    
}
.single-choose-service {
    padding: 0 30px;
    & .service-content {
        margin-top: 30px;
        & h4 {
            color: $white;
            font-weight: 600;
        }
        & p {
            color: $white;
            font-size: 14px;
        }
    }
}


/*-- Free Introductory --*/
.free-introductory-bg {
    background: url("../images/bg/bg-03.jpg");
}
.introductory-btn {
    margin-top: 30px;
    padding: 15px 45px;
    background: $theme-color;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    font-family: $montserrat;
    border-radius: 5px;
    &:hover {
        color: $white;
        background: $dark-grey;
    }
    @media #{$large-mobile}{
        margin-top: 40px;
    }
    @media #{$tablet-device}{
        margin-top: 50px;
    }
}




